@import url('https://fonts.googleapis.com/css2?family=Lora&family=Vollkorn&display=swap');


* {
  padding        : 0;
  margin         : 0;
  text-decoration: none;
  list-style     : none;
  box-sizing     : border-box;
}

body {
  font-family     : 'Vollkorn', serif;
  background-color: #D9F1F1
}

#logo {
  font-size: 35px;
}

#navbarNav {
  justify-content: right;

}


.grid {
  display              : grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap              : 20px;
  column-gap           : 20px;
  margin               : 5px 15px;
}

.items {
  border-radius   : 10px;
  padding         : 1em;
  background-color: white;
  box-shadow      : 0 10px 5px #b2bec3;
  text-align      : center;
}

.img img {
  max-width: 100%;
  height   : 50vh;
}

.items .title {
  font-size  : 20px;
  font-weight: bold;
  margin     : 1em;
}

.items .details {
  text-align : left;
  margin-left: 2em;
  padding-top: 2em;
}

.items .details h4 {
  font-size  : 18px;
  font-weight: bold;
}

.items .details h5 {
  font-size: 17px;
}

.product {
  margin: 2em;
}

.product h3 {
  padding-bottom: .3em;
  text-align    : center;
  font-size     : 44px;
}

.cart-btn {
  margin          : 2em;
  background-color: #fdcb6e;
  border          : none;
  padding         : .6em;
  border-radius   : 4px;
  font-weight     : bold;
}

.cart-btn:hover {
  box-shadow: 0 5px 5px #b2bec3;
  color     : #1289A7;
}

@media (max-width: 1240px) {

  .grid {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    margin               : 5px 3px;
  }
}

@media (max-width: 1024px) {
  #logo {
    font-size: 28px !important;
  }

  .grid {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    margin               : 5px 3px;
  }

  .items {
    padding: .6em;
  }

  .items .title {
    font-size: 18px;
  }

  .product h3 {
    font-size: 40px;
  }

  .items .details h4 {
    font-size: 17px;

  }

  .items .details h5 {
    font-size: 16px;
  }

  @media (max-width: 778px) {
    #logo {
      font-size: 28px !important;
    }

    .grid {
      display              : grid;
      grid-template-columns: repeat(1, 1fr);
      margin               : 5px 3px;
    }

    .items {
      padding: .6em;
    }

    .items .title {
      font-size: 16px;
    }

    .product h3 {
      font-size: 34px;
    }

    .items .details h4 {
      font-size: 16px;

    }

    .items .details h5 {
      font-size: 15px;
    }


  }

}